body{
    background-color: black;
}
.the-all{
    flex: auto;
    flex-wrap: wrap;
    background-color: rgb(72, 71, 71);
    border-style:solid;
    border-color: rgb(233, 233, 233);
    width: 50em;
    height: 50em;
}
.player{
    position: relative;
    /* border-style:solid; */
    border-radius: 20px;
   background-color: rgb(255, 0, 0);
    width: 1em;
    height: 1em;    
}
