html, body {
    margin: 0;
    padding: 0;
    background-color: #071b3d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* background-image: url(image/backrou.ndgame.jpg); */
}

.game-container {
    width: 900px;
    height: 700px;
    background-size: cover;
    background-color: #0b2a61;
    /* background-image:url(image/backrou.ndgame.jpg) ; */
    background-position: center;
    position: relative;
}

.player {
    position: absolute;
    width: 80px;
    height: 60px;
    border: pink;
}

.invader {
    position: absolute;
    width: 60px;
    height: 50px;
}

.projectile, .invader-projectile {
    position: absolute;
    width: 6px;
    height: 15px;
    background-color: red;
    border-radius: 3px;
}
.invader-projectile {
    background-color: yellow;
}


.score-container {
    color: wheat;
    font-size: 24px;
    margin-bottom: 10px;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup {
    /* background: url(image/startScreenBackground.png) no-repeat center; */
    background-size: cover; 
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    width: 850px;
    height: 400px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

}

.popup h2 {
    color: purple;
    font-size: 36px;
    margin-bottom: 20px;
}
.popup p {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}
#scorp{
    font-size: 90px;
    margin-top: 15px;
}
.popup button {
 background: url(image/button.png) no-repeat center;
    background-size: contain;
    width: 200px;
    height: 80px;
    color: white;
    border: none;
    padding: 20px;
    font-size: 35px;
    border-radius: 5px;
    cursor: pointer;
        margin-top: auto;

}
.popup button:hover {
    
    transform: scale(1.1);
}
.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    /* background: url(image/startScreenBackground.png) no-repeat center; */
    background-size: contain;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}


.start-screen h1 {
    color: purple;
    font-size: 48px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.instructions {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.instructions p {
    font-size: 24px;
    margin-bottom: 15px;
}

.instructions ul {
    list-style: none;
    padding: 0;
}

.instructions li {
    font-size: 18px;
    margin: 10px 0;
}



#startButton:hover {
    
    transform: scale(1.1);
}
#startButton {
    background: url(image/button.png) no-repeat center;
    background-size: contain;
    width: auto;
    height: auto;
    color: white;
    border: none;
    padding: 20px;
    font-size: 35px;
    border-radius: 5px;
    cursor: pointer;
}



.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    animation: moveStar 18s linear infinite;
    z-index: 100;
}


@keyframes moveStar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50vh); 
    }
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; 
    pointer-events: none; 
    overflow: hidden;
}
